{
  "extends": "airbnb",
  "env": {
    "browser":true
  },
  "rules": {
    "function-paren-newline": ["off"],
    "react/jsx-filename-extension": ["off"],
    "import/prefer-default-export": ["warn"]
  }
}
